body{
    font-family: Helvetica, Arial, sans-serif;
}
.form{
    display:flex; 
    flex-direction: column;
}
.-input{
    font-size: 14px;
    padding: 0 8px 0 8px;
    min-height: 26px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: -webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgb(0 0 0 / 10%);
    color: #444;
    line-height: 21px;
}
.-textarea{
    min-height: 86px;
    resize: none;
}
.btn{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width:50%
}
.btn-send{
    width:50% 
}
.conteiner{
    padding: 20px 0px;
}
.flex-row{
    display:flex
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.text_center{
    text-align: center;
    vertical-align: middle;
}
.status1{
    background: #4cae4c;
    color: #fff;
}
.status2{
    background: #cf4747;
    color: #fff;
}
.table {
	width: 100%;
    border-spacing: 0
}
.table thead th {
	text-align: left;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
td {
	border: 1px solid #d8d8d8;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    word-break: break-word;
}
.table tbody tr:last-child td{
	border-bottom: 1px solid #d8d8d8;
}
.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}
.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
    width: 14%;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
    width: 14%;
}
.td_comment {
	border-bottom: 0;
    border-top: 0;
}
.comment_container{
    background: #f3f3f3;
    border-radius: 10px;
    padding: 5px 10px;
}
.small_name{
    color: #444;
}
.comment_text{
    margin: 5px 0 0 0;
}
.th_problem{
    width: 20%;
}
.th_status{
    width: 15%;
}